{% extends 'layout.html' %}


{% block title %} Street Art {% endblock %}

{% block content %}

<br>
<div class="row mx-0">
    {%for articulo in articulos %}
  <div class="col-md-3 col-sm-12 col-lg-4">     
          <div class="card pb-10">
             <img src="{{articulo.image.url}}" />
            <p class="mb-1"> <strong>{{articulo.title}}</strong> | Calle: {{articulo.content}}</p>
              {% if articulo.artista == 'sfo' or articulo.artista == 'sin info' %}
                <p><strong>Artista:</strong> Sin información</p>
            {% else %}
              <p><strong>Artista: {{articulo.artista}}</strong></p>
            {% endif %}
          </div>        
    </div>         
    {% endfor %}
</div>  

{% include 'pagination.html' %}



{% endblock %}
