{% extends 'layout.html' %}


{% block title %} Street Art {% endblock %}

{% block content %}

<br>

<div class="row">
    {%for articulo in articulos %}
      <div class="col-md-4 col-sm-6">
          <div class="card mb-4">
             <img class="zoomable" src="{{articulo.image.url}}" />
            <p class="mb-1"> <strong>{{articulo.title}}</strong> | Calle: {{articulo.content}}</p>
              {% if articulo.artista == 'sfo' or articulo.artista == 'sin info' %}
                <p><strong>Artista:</strong> Sin información</p>
            {% else %}
              <p><strong>Artista: {{articulo.artista}}</strong></p>
            {% endif %}
          </div>        
    </div>         
    {% endfor %}
</div>  

{% include 'pagination.html' %}



{% endblock %}
