{% extends 'layout.html' %}

{% block title %} Iglesias {% endblock %}

{% block content %}

<h1 class="title"> Iglesias </h1>

{% if messages %}
    {% for message in messages %}
        <div class="message">
            {{message}}
        </div>
    {% endfor %}
{% endif %}


    {% for iglesia in iglesias %}
        <article class="article-item">

            {% if iglesia.image != 'null' and iglesia.image.url|length >= 1 %}
                
                <div class="image">
                    <img src="{{iglesia.image.url}}" />
                </div>
            
            {% endif %}

            <div class="data">
                <h5><strong>{{iglesia.nombre}}</5></strong>
                <p>Dirección {{iglesia.direccion}}</p>
                <p>{{iglesia.descripcion}}</p>
            </div>                

            <div class="clearfix"></div>
        </article>
    {% endfor %}


{% endblock %}
